---

- name: install role packages
  package: name=gcc,python3-dev

- name: install l3lb pip deps
  pip:
   name: netifaces,kubernetes
   extra_args: '--user'

- name: create .kube
  file:
   path: /root/.kube
   state: directory

- name: create a symlink to spoof regular .kube/config
  ansible.builtin.file:
   dest: /root/.kube/config
   src: /var/snap/microk8s/current/credentials/client.config
   state: link

- name: copy l3lb
  get_url:
   url: https://raw.githubusercontent.com/nihr43/k8s-l3-lb/main/main.py
   dest: /usr/sbin/l3lb
   mode: 0755
  notify: restart l3lb

- name: copy l3lb unit
  get_url:
   url: https://raw.githubusercontent.com/nihr43/k8s-l3-lb/main/l3lb.service
   dest: /lib/systemd/system/l3lb.service
   mode: 0755
  notify: daemon-reload

- name: enable l3lb
  service:
   name: l3lb
   enabled: true
   state: started
